TELEGRAM_BOT_TOKEN=
TELEGRAM_ALLOWED_CHAT_ID=
OMNILOGIN_HOST=http://localhost:35353
AI_APP_ID=khaihoan-derma-rank-qa
AI_APP_ALIASES=derma:khaihoan-derma-rank-qa:Khai Hoàn Derma Rank QA
DEFAULT_PROFILE_ID=1
DEFAULT_PROFILE_DELAY_SECONDS=60
DEFAULT_PROFILE_RUN_SECONDS=180
CLOSE_PROFILE_AFTER_RUN=true
